<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			Drained
		</title>
		<meta name="description" content="Slycoin point-of-sale test">
		<meta name="author" content="Team Magick Schoolbus">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="script/qr.js"></script>
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
	</head>
	<body>
		<p>Drained {{amount}} to {{address}}.</p>
	</body>
</html>
